export RG_NAME=rg-aks-kaito-1874157384
export LOCATION=swedencentral
export AKS_NAME=kaito-aks-cluster1874157384
export USER_ASSIGNED_IDENTITY_NAME=kaito-identity-1874157384
export ACR_NAME=kaitoacr187415
export NAME_SUFFIX=1874157384
export SHORT_SUFFIX=187415
